@inherits LayoutComponentBase

<PageTitle>website-ban-ao-quan-nam-bao</PageTitle>

<div class="page">
    <NavMenu />
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<style>
    .page {
        display: flex;
        flex-direction: row;
    }

    .main {
        flex: 1;
        padding: 20px;
        margin-left: 250px; /* Căn chỉnh theo độ rộng của sidebar */
    }

    .content {
        margin: 20px;
    }
</style>
