@using Microsoft.AspNetCore.Components.Routing

<nav class="nav">
    <NavLink class="nav-link" href="">
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink class="nav-link" href="cart">
        <span class="oi oi-cart" aria-hidden="true"></span> Giỏ hàng
    </NavLink>
    <NavLink class="nav-link" href="checkout">
        <span class="oi oi-credit-card" aria-hidden="true"></span> Thanh toán
    </NavLink>

    @* Add this to your existing NavMenu.razor *@
    <NavLink class="nav-link" href="/paidproducts">
        <span class="oi oi-check" aria-hidden="true"></span> Sản phẩm đã thanh toán
    </NavLink>

    
        
    
</nav>

<style>
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-link {
        color: white; /* Đặt màu chữ cho các liên kết NavLink */
        margin: 0 20px;
        text-decoration: none;
        font-size: 1.2rem;
    }

        .nav-link:hover {
            color: #ffeb3b; /* Màu khi hover chuột qua các liên kết */
        }

        .nav-link.active {
            font-weight: bold;
        }
</style>
